@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: rgb(208, 225, 239); */
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
  margin: 0;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  justify-self: center;

  *:required {
    background-color: #f5f9fe;
  }
}

#poem p {
  color: #885df1;
  font-size: 11px;
  font-weight: 600;
  margin-top: 6px;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

footer {
  grid-area: footer;
}
